{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <a href="{{ path('category.create') }}" class="btn btn-success w-100 mb-3">Add new category <i class="fa fa-plus"></i></a>
    </div>
    <div class="col-md-12">
        <categories></categories>
    </div>
{% endblock %}
