// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-titles: 'Coda Caption', sans-serif;
$font-weight-title: 800;

// Colors
$main-color: #A63B50;
$light-main-color: #EEB1BD;
$accent-color: #DEE48F;
$additional-color: #29606F;
$text-color: #0E0305;