<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony blog{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    </head>
    <body>
        <div id="app">
            <header>
                {% set browsers = session_service.getBrowsersQuantity() %}
                <ul>
                    {% for browser, quantity in browsers %}
                        <li><strong>{{ browser|capitalize }}:</strong> {{ quantity }}</li>
                    {% endfor %}
                </ul>
            </header>
            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </div>
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
